

<div>
  <h1>Welcome to {{title}}</h1>
  <img class="logo" 
  (click)="onLogoClick()"
  src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<input (keyup)="onKeyUp(titleInput.value)" class="demo" [value]="title" #titleInput>



<div class="courses">

  <app-course-card *ngFor="let course of courses; index as i; first as isFirst; last as isLast"
  [class.is-first]="isFirst"
  [class.is-last]="isLast"

  (courseSelected)="onCourseSelected($event)" 
  [course]="course" [cardIndex]="i+1"></app-course-card>

</div>